// Global styling for this template
body {
  transition: all 0.3s ease-in-out;
  color: #575962;
  background-color: rgb(245,245,245);
}

.container-fluid {
  background-color: rgb(245,245,245);
}

h1,
h2,
h3,
h4,
h5,
h6, a, label, p, div {
  // font-weight: 800;
  @include nunito-font;
}

.text-logo {
  @include nunito-font;
  font-weight: 600;
}
.logo-restaurant {
  max-width: 80px;
}
.logo-head {
  max-width: 58px;
}
.border-red {
  margin: 20px auto;
  border-bottom-style: solid !important;
  border-bottom-width: 1px !important;
  border-color: red;
}

.right-content {
  height: 100vh;
  padding: 0 130px;
  background-color: #f5f5f5;
}

.left-content {
  z-index: 99;
  width: 100%;
  min-height: 100vh;
  box-shadow: 0px 1px 2px rgba(0,0,0,.15);
  @media only screen and(min-width: 769px) {
    width: 768px;
  }
}

.img-fluid.rounded.img-item {
  border-radius: 5% !important;
}

.nav-tabs-custom {
  border-bottom: none !important;
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
  padding: 0 10px;
  >.nav-item {
    // width: 25%;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    white-space: nowrap;
    margin-bottom: 0px;
    a {
      text-align: center;
      color: #575962;
      padding: 0px;
      > span {
        padding: .8rem 1rem;
        display: block;
        font-weight: 600;
        letter-spacing: .05rem;
        font-size: 16px;
        line-height: 22px;
        width: 116px;
      }
      @media screen and(max-width: 425px) {
        width: 120px;
      }
    }
    >a.active, a:hover {
      background-color: transparent;
      color: rgb(182, 0, 29);
      border-color: transparent;
      border-bottom: 2px solid rgb(182, 0, 29);
    }
    @media screen and(max-width: 425px) {
      width: auto !important;
    }
  }
}


// items
.content-left-item {
  min-width: 56px;
  min-height: 56px;
  &.no-img {
    min-width: 46px;
    .label-card-img {
      padding: 8px;
      display: grid;
      position: inherit;
    }
  }
  .label-card-img {
    padding: 5px;
    position: absolute;
    display: flex;
    >img {
      max-width: 28px;
    }
  }

  >img {
    border-radius: 5px 0px 0px 5px;
    height: 6rem;
    width: 6rem;
  }
}

.content-right-item {
  padding-top: 10px;
  padding-right: 12px;
  padding-left: 12px;
  &.no-img {
    padding-left: 0px;
  }
}
.card-item {
  box-shadow: 2px 2px 10px rgba(0,0,0,.15);
  background: transparent;
  border-radius: 5px;
  > .row {
    .card-img {
      object-fit: fill;
      min-height: 90px;
      border-radius: 5px 0 0 5px;
    }
    .card-body {
      padding: 10px;
    }
    // label
    .label-card-img {
      padding: 5px;
      position: absolute;
      display: flex;
      >img {
        max-width: 28px;
      }
    }
    @media screen and(max-width: 992px) {
      .no-img > .label-card-img {
        position: relative;
      }
    }
  }
}
#i-fas {
  position: absolute;
  right: 20px;
  top: 15px;
}

.toTop {
  position: fixed;
  width: 768px;
  bottom: 10px;
  transition: all 0.1s;
  @media screen and(max-width: 992px) {
    width: 100%;
  }
}
.btn-top {
  right: 3px;
  padding: 20px;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  float: right;
  position: relative;
  transition: all 0.1s;
  bottom: -100px;
  >img {
    width: 15px;
  }
}

.menu-top {
  transition: all 0.3s ease-in-out;
  margin-bottom: 1rem;
  font-weight: 600;
}
.menu-btm {
  font-weight: 400;
}

.title-items {
  > h5 {
    font-weight: 600;
    letter-spacing: .79px;
    color: #5c5c5c;
    font-size: 20px;
    line-height: 27px;
  }
  .t-menu {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }
}
a {
  color: #575962;
  &:hover {
    text-decoration: none;
    color: #575962;
  }
}
.card-title.card-title-custom  {
  font-weight: 600 !important;
  font-size: 18px;
  margin-bottom: 2px;
  color: #575962;
}
.card-text-custom {
  font-weight: 600;
  font-size: 18px;
  color: #e6034b;
}

.card-item {
  border-color: transparent;
  box-shadow: 2px 2px 10px rgba(0,0,0,.15);
}
.padding {
  padding: 15px;
}
.card-item-test {
  font-weight: 600 !important;
  font-size: 18px;
  margin-bottom: 8px;
}

.card-accordions {
  border-color: transparent;
}
.border-show {
  border-color: rgba(182, 0, 29, 0.4) !important;
}

.pt4 {
  padding-top: .85rem;
}

.card-item-show {
  position: fixed;
}

.back-left {
  position: absolute;
  height: 40px;
  width: 40px;
  margin: 10px 0 0 10px;
  background-color: #fff;
  z-index: 1;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 10px rgba(0,0,0,.2);
  box-shadow: 0 3px 10px rgba(0,0,0,.2);
}

.user-rating {
  direction: rtl;
  font-size: 20px;
  unicode-bidi: bidi-override;
  padding: 10px 30px;
  display: inline-block;
}
.user-rating input {
  opacity: 0;
  position: relative;
  left: -15px;
  z-index: 2;
  cursor: pointer;
}
.user-rating span.star:before {
  color: #777777;
  content:"ï€†";
}
.user-rating span.star {
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: normal;
  position: relative;
  z-index: 1;
}
.user-rating span {
  margin-left: -15px;
}
.user-rating span.star:before {
  color: #777777;
  content:"\f005";
}
.user-rating input:hover + span.star:before, .user-rating input:hover + span.star ~ span.star:before, .user-rating input:checked + span.star:before, .user-rating input:checked + span.star ~ span.star:before {
  color: #F8B2C8;
  content:"\f005";
}

.selected-rating{
  color: #F8B2C8;
  font-weight: bold;
  font-size: 3em;
}