.form-slide-bottom {
  >.cd-panel {
    width: 100% !important;
    z-index: 999;
    top: auto;
    left: 0;
    bottom: -1300px;
    background-color: transparent;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 99;
      background: rgba(0,0,0,.3);
      cursor: pointer;
      -webkit-transition: background 0.3s 0.3s;
      transition: background 0.3s 0.3s;
    }
    &.cd-panel--is-visible {
      bottom: 0px;
    }
    >.cd-panel__container {
      width: 600px !important;
      height: 500px;
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      z-index: 999;
      @media screen and(max-width: 769px) {
        width: 100% !important;
        height: 100% !important;
      }
    }
    .cd-panel__content {
      position: relative;
    }
    .content-detail-item {
      background-color: #f5f5f5;
      border-radius: 10px;
      border: 2px solid transparent;
      overflow: auto;
      height: 458px;
      padding: 20px;
      border-radius: 10px 10px 0px 0px ;
      @media screen and(max-width: 769px) {
        width: 100% !important;
        height: 100vh !important;
      }
      .question {
        margin-bottom: 25px;
      }
      .title-item {
        color: rgb(230, 3, 75);
        text-align: center;
        font-style: normal;
        font-weight: 600;
        line-height: 27px;
        font-size: 20px;
      }
      .title-q {
        margin-bottom: 10px;
        opacity: .9;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        mix-blend-mode: normal;
      }
      .answer-input {
        > input {
          width: 65%;
          margin: 0 auto;
        }
      }
    }
  }
}

.btn-submit {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #F8B2C8;
  border-radius: 0px 0px 10px 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: white;
  height: 50px;
}
.cd-panel {
    height: 100vh;
    position: fixed;
    // width: 768px;
    z-index: 99;
    top: 0;
    right: -1000px;
    background-color: #f5f5f5;
    overflow-x: hidden;
    transition: all .3s;
    &.cd-panel--is-visible {
      right: 0%;
      @media screen and(min-width: 769px) {
        width: 100%;
      }
    }

    @media screen and(min-width: 769px) {
      position: absolute;
      right: 0;
      width: 0%;
    }
}

.cd-panel__header {
  > a {
    position: absolute;
    height: 40px;
    width: 40px;
    margin: 10px 0 0 10px;
    background-color: rgb(245, 245, 245);
    z-index: 1;
    border-radius: 10px;
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,.2);
    box-shadow: 0 3px 10px rgba(0,0,0,.2);
    &::before {
      content: attr(data-background-icon);
      font-family: "Font Awesome 5 Free"; /* change like this */
      font-weight: 900; /* insert this definition */
      position: absolute;
      top: 8px;
      left: 13px;
    }
  }
}
  
.img-content-slide {
  overflow: hidden;
}
